{{block "page.filepath" .}}
  {{template "layout.head" .}}
  <div class="file-header">
    {{- range $_, $breadcrumb := .Breadcrumbs -}}
      {{- $filename := printf "%s/%s" $breadcrumb.Dirname $breadcrumb.Basename -}}
      {{- if $breadcrumb.IsOutOfRoot -}}
        <span class="text-gray">/{{$breadcrumb.Basename}}</span>
      {{- else if $breadcrumb.IsDir -}}
        <span class="text-gray">/</span><a href="{{$filename}}/?q={{$.Query}}">{{$breadcrumb.Basename}}</a>
      {{- else -}}
        <span class="text-gray">/</span><a href="{{$filename}}?q={{$.Query}}"><b>{{$breadcrumb.Basename}}</b></a>
      {{- end -}}
    {{- end -}}
  </div>
  {{if .DirEntries}}
    {{range $_, $dirEntry := .DirEntries}}
      <a href="./{{$dirEntry.Name}}?q={{$.Query}}" class="file-header">
        {{$dirEntry.Name}}
      </a>
    {{end}}
  {{else if .SourceFile}}
    <div class="source-hunk">
      {{range $_, $line := .SourceFile.Lines}}
        <div id="l{{$line.LineNo}}" class="source-line">
          {{- template "component.source-line" map "LinePad" $.SourceFile.LinePad "SourceLine" . -}}
        </div>
      {{end}}
    </div>
  {{end}}
  {{template "layout.foot" .}}
{{end}}

