{{block "page.filepath" .}}
  {{template "layout.head" .}}
  <div class="filepath-panels-wrapper">
    <div class="filepath-panels-wrapper__file-search">
      {{template "component.file-search" .}}
    </div>
    {{if .SourceDir}}
      <div class="section-header file-header">
        {{template "component.breadcrumbs" map "Breadcrumbs" .SourceDir.Breadcrumbs "Query" .Query}}
      </div>
      <div class="main-content-wrapper">
        {{range $_, $entry := .SourceDir.Entries}}
          <div class="section-header file-header">
            {{if $entry.IsDir}}
              {{/* NOTE: wihtut trailing slash (/) dot-slash (./) will not work */}}
              <a href="./{{$entry.Name}}/?q={{$.Query}}">
                {{$entry.Name}}
              </a>
            {{else}}
              <a href="./{{$entry.Name}}?q={{$.Query}}">
                {{$entry.Name}}
              </a>
            {{end}}
          </div>
        {{end}}
      </div>
    {{else if .SourceFile}}
      <div class="filepath-panels-wrapper__source-file">
        {{template "component.source-file" map "Breadcrumbs" .SourceDir.Breadcrumbs "Query" .Query "SourceFile" .SourceFile}}
      </div>
    {{end}}
  </div>
  {{template "layout.foot" .}}
{{end}}
