{{block "page.index" .}}
  {{template "layout.head" .}}
  {{if .Query}}
    {{range $_, $searchResult := .SearchResults}}
      {{$lastBreadcrumb := index $searchResult.Breadcrumbs (sub (len $searchResult.Breadcrumbs) 1)}}
      {{$filename := printf "%s/%s" $lastBreadcrumb.Dirname $lastBreadcrumb.Basename}}
      <a href="{{$filename}}?q={{$.Query}}" class="file-header">
        {{- range $_, $breadcrumb := $searchResult.Breadcrumbs -}}
          {{- if $breadcrumb.IsOutOfRoot -}}
            <span class="text-gray">/{{$breadcrumb.Basename}}</span>
          {{- else if $breadcrumb.IsDir -}}
            /{{$breadcrumb.Basename}}
          {{- else -}}
            /<b>{{$breadcrumb.Basename}}</b>
          {{- end -}}
        {{- end -}}
      </a>
      {{range $_, $hunk := $searchResult.Hunks}}
        <a href="{{$filename}}?q={{$.Query}}#l{{$hunk.FirstNonContextLineNo}}" class="source-hunk">
          {{range $_, $line := $hunk.Lines}}
            <div class="source-line">
              {{- template "component.source-line" map "LinePad" $.LinePad "SourceLine" . -}}
            </div>
          {{end}}
        </a>
      {{end}}
    {{end}}
    <div>
      rendered {{.MatchCount}} matches in {{printf "%.3fs" .TimeElapsed}}
    </div>
  {{end}}
  {{template "layout.foot" .}}
{{end}}
