{{block "page.index" .}}
  {{template "layout.head" .}}
  <div class="search-results-header">
    {{.MatchCount}} {{selectplural .MatchCount "match" "matches"}}
    in {{len .SearchResults}} {{selectplural (len .SearchResults) "file" "files"}}
    ({{printf "%.3fs" .TimeElapsed}})
  </div>
  {{if .Query}}
    {{range $_, $searchResult := .SearchResults}}
      {{$lastBreadcrumb := index $searchResult.Breadcrumbs (sub (len $searchResult.Breadcrumbs) 1)}}
      {{$filename := printf "%s/%s" $lastBreadcrumb.Dirname $lastBreadcrumb.Basename}}
      <div class="file-header">
        <a href="{{$filename}}?q={{$.Query}}">
          {{- range $_, $breadcrumb := $searchResult.Breadcrumbs -}}
            {{- if $breadcrumb.IsOutOfRoot -}}
              <span class="text-disabled">/{{$breadcrumb.Basename}}</span>
            {{- else if $breadcrumb.IsDir -}}
              /{{$breadcrumb.Basename}}
            {{- else -}}
              /<b>{{$breadcrumb.Basename}}</b>
            {{- end -}}
          {{- end -}}
        </a>
      </div>
      {{range $_, $hunk := $searchResult.Hunks}}
        <a
          href="{{$filename}}?q={{$.Query}}#l{{$hunk.FirstNonContextLineNo}}"
          class="source-hunk"
          style="--line-pad: {{$.LinePad}}ch"
        >
          {{range $_, $line := $hunk.Lines}}
            <div class="source-line">
              {{- template "component.source-line" map "LinePad" $.LinePad "SourceLine" . -}}
            </div>
          {{end}}
        </a>
      {{end}}
    {{end}}
  {{end}}
  {{template "layout.foot" .}}
{{end}}
