{{define "layout.head"}}
  <!doctype html>
  <html>
    <head>
      <title>code search</title>
      <link rel="stylesheet" href="/assets/main.css" />
    </head>
    <body>
      <header>
        <form action="/" class="search-form">
          <input id="search-input" type="text" name="q" value="{{.Query}}" placeholder="pattern" class="search-form__input">
          <button type="submit" class="search-form__button">submit</button>
        </form>
      </header>
{{end}}
{{define "layout.foot"}}
      <script src="/assets/main.js"></script>
    </body>
  </html>
{{end}}

