:root {
	--space-xs: 2px;
	--space-s: 4px;
	--space-m: 8px;
	--space-l: 12px;
	--space-xl: 16px;

	/* https://www.radix-ui.com/colors/docs/overview/installation */
	--gray-1: #111111;
	--gray-2: #191919;
	--gray-3: #222222;
	--gray-4: #2a2a2a;
	--gray-5: #313131;
	--gray-6: #3a3a3a;
	--gray-7: #484848;
	--gray-8: #606060;
	--gray-9: #6e6e6e;
	--gray-10: #7b7b7b;
	--gray-11: #b4b4b4;
	--gray-12: #eeeeee;

	--bg: #010409;
	--bg-emphasis: var(--gray-4);
	--bg-muted: var(--gray-2);
	--bg-attention-muted: #edaa2726;
	--bg-attention-emphasis: #7b4900;

	--fg: #ffffff;
	--fg-accent: #71b7ff;
	--fg-disabled: var(--gray-10);

	--divider: var(--gray-6);

	--header-height: 40px;
	--file-header-height: 30px;
}

/* https://github.com/AllThingsSmitty/css-protips?tab=readme-ov-file#inherit-box-sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
	color-scheme: dark;
	height: 100%;
	font-family: monospace;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: var(--bg);
	color: var(--fg);
	line-height: 1.6;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

header {
	display: flex;
	align-items: center;
	padding: 0 var(--space-m);
	box-shadow: 0 1px 0 0 var(--divider);
	background: var(--bg);
	height: var(--header-height);
	position: sticky;
	top: 0;
}

a {
	text-decoration: none;
	color: var(--fg-accent);
}

mark {
	background: var(--bg-attention-emphasis);
	color: var(--fg);
}

.search-form {
	display: flex;
	width: 100%;
}

.search-form__input {
	flex-grow: 1;
	margin-right: var(--space-m);
}

.search-results-header {
	padding: var(--space-s) var(--space-m);
	box-shadow: 0 1px 0 0 var(--divider);
	background: var(--bg);
	position: sticky;
	top: calc(var(--header-height) + 1px);
}

.text-disabled {
	color: var(--fg-disabled);
}

.file-header {
	display: flex;
	align-items: center;
	box-shadow: 0 1px 0 0 var(--divider), 0 -1px 0 0 var(--divider);
	padding: 0 var(--space-m);
	background: var(--bg-muted);
	height: var(--file-header-height);
}

.file-header a:hover,
a.file-header:hover {
	text-decoration: underline;
}

.file-header__source-nav {
	margin-left: auto;
	flex-grow: 0;
}

.file-header--sticky {
	position: sticky;
	top: calc(var(--header-height) + 1px);
}

.source-hunk {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: var(--space-s) 0;
	box-shadow: 0 1px 0 0 var(--divider);
}

a.source-hunk {
	color: inherit;
}

a.source-hunk:hover,
a.source-hunk:focus {
	background: var(--bg-emphasis);
}

.source-line {
	white-space: pre;
	display: block;
	width: 100%;
	padding: 0 var(--space-m);
}

.source-line:target {
	scroll-margin-top: calc(var(--header-height) + var(--file-header-height) + 1rem);
	background: var(--bg-attention-muted);
}

.source-line__line-no {
	display: inline-block;
	box-shadow: 1px 0 0 0 var(--divider);
	margin-right: 1ch;
	padding-right: 1ch;
}

.source-line__line-no::before {
	color: var(--fg-disabled);
	content: attr(data-line-no);
}
