:root {
	--space-xs: 2px;
	--space-s: 4px;
	--space-m: 8px;
	--space-l: 12px;
	--space-xl: 16px;

	/* https://www.radix-ui.com/colors/docs/overview/installation */
	--gray-1: #111111;
	--gray-2: #191919;
	--gray-3: #222222;
	--gray-4: #2a2a2a;
	--gray-5: #313131;
	--gray-6: #3a3a3a;
	--gray-7: #484848;
	--gray-8: #606060;
	--gray-9: #6e6e6e;
	--gray-10: #7b7b7b;
	--gray-11: #b4b4b4;
	--gray-12: #eeeeee;

	--bg: #010409;
	--bg-emphasis: var(--gray-4);
	--bg-muted: var(--gray-2);
	--bg-attention-muted: #edaa2726;
	--bg-attention-emphasis: #7b4900;

	--fg: #ffffff;
	--fg-accent: #71b7ff;
	--fg-disabled: var(--gray-10);

	--divider: var(--gray-6);

	--header-height: 40px;
	--file-header-height: 30px;
}

/* https://github.com/AllThingsSmitty/css-protips?tab=readme-ov-file#inherit-box-sizing */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	color-scheme: dark;
	font-family: monospace;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: var(--bg);
	color: var(--fg);
	line-height: 1.6;
}

main {
	flex-grow: 1;
	overflow-y: auto;
}

a {
	text-decoration: none;
	color: var(--fg-accent);
}

mark {
	background: var(--bg-attention-emphasis);
	color: var(--fg);
}

.search-form {
	display: flex;
	width: 100%;
	padding: var(--space-m);
	background: var(--bg);
	border-bottom: 1px solid var(--divider);
}

.search-form__input {
	flex-grow: 1;
	background: none;
	border: 1px solid var(--divider);
	padding: var(--space-s) var(--space-m);
}

.search-form__button {
	display: none;
}

.search-results-header {
	padding: var(--space-s) var(--space-m);
	border-bottom: 1px solid var(--divider);
}

.text-disabled {
	color: var(--fg-disabled);
}

.file-header {
	display: flex;
	align-items: center;
	padding: var(--space-s) var(--space-m);
	background: var(--bg-muted);
	border-bottom: 1px solid var(--divider);
}

.file-header a:hover,
a.file-header:hover {
	text-decoration: underline;
}

.file-header__source-nav {
	margin-left: auto;
	flex-grow: 0;
}

.source-hunk {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: var(--space-s) 0;
	border-bottom: 1px solid var(--divider);

	/* line-no shenanigans */
	--line-px: var(--space-m);
	--line-no-px: 1ch;
	--line-no-w: calc(var(--line-px) + var(--line-no-px) * 2 + var(--line-pad));
	--line-pl: calc(var(--line-px) + var(--line-no-w));

	counter-reset: line-no calc(var(--line-no-reset, 1) - 1);
}

a.source-hunk {
	color: inherit;
}

a.source-hunk:hover,
a.source-hunk:focus {
	background: var(--bg-emphasis);
}

/* .source-line */
.source-hunk > div {
	white-space: pre-wrap;
	display: block;
	width: 100%;
	padding: 0 var(--line-px);
	scroll-margin-top: 1rem;

	/* line-no positioning */
	position: relative;
	padding-left: var(--line-pl);

	counter-increment: line-no;
}

.source-line--selected {
	background: var(--bg-attention-muted);
}

/* .source-line::before */
.source-hunk > div::before {
	content: counter(line-no);
	border-right: 1px solid var(--divider);
	color: var(--fg-disabled);
	text-align: right;

	/* positioning */
	position: absolute;
	padding: 0 var(--line-no-px);
	width: var(--line-no-w);
	height: 100%;
	left: 0;
}
