{{block "page.index" .}}
  {{template "layout.head" .}}
  <main class="panels">
    {{template "component.panel-search-history" .}}
    {{template "component.panel-file-search" .}}
  </main>
  {{template "layout.foot" .}}
{{end}}
