{{- /*
NOTE: parent element must contain:
  - `--line-pad` css variable (not necessarily direct parent, maybe grandparent)
  - `data-no` attribute
*/ -}}
{{- define "component.source-line" -}}
  {{- if eq (len .Line) 0 -}}
    &nbsp;
  {{- else -}}
    {{- $end := 0 -}}
    {{- range $_, $loc := .PreciseMatchLocations -}}
      {{- printf "%s" (slice $.Line $end (index $loc 0)) -}}
      <mark>{{printf "%s" (slice $.Line (index $loc 0) (index $loc 1))}}</mark>
      {{- $end = index $loc 1 -}}
    {{- end -}}
    {{- printf "%s" (slice .Line $end) -}}
  {{- end -}}
{{- end -}}
