{{- /* ARGS: map of Breadcrumbs, Query, SourceFile */ -}}
{{define "component.source-file"}}
  <div class="section-header file-header">
    <div>
      {{template "component.breadcrumbs" map "Breadcrumbs" .SourceFile.Breadcrumbs "Query" .Query}}
    </div>
    {{if and .Query .SourceFile.MatchCount}}
      <div class="file-header__source-nav">
        <span id="targeted-line-no"></span>
        {{.SourceFile.MatchCount}}
        {{selectplural .SourceFile.MatchCount "match" "matches"}}
        <button id="to-prev-match" disabled="true">/\</button>
        <button id="to-next-match" disabled="true">\/</button>
      </div>
    {{end}}
  </div>
  <div class="main-content-wrapper">
    <div class="source-hunk" style="--line-pad: {{.SourceFile.LinePad}}ch">
      {{range $_, $line := .SourceFile.Lines}}
        {{- /* class="source-line" */ -}}
        <div id="l{{$line.LineNo}}"{{if $line.PreciseMatchLocations}} data-sfl-matched="true"{{end}}>
          {{- template "component.source-line" . -}}
        </div>
      {{end}}
    </div>
  </div>
{{end}}
