{{- /* NOTE: parent element must contain --line-pad css variable */ -}}
{{- /* ARGS: LinePad, SourceLine */ -}}
{{- define "component.source-line" -}}
  <span class="source-line__line-no" data-line-no="{{.SourceLine.LineNo}}"></span>
  {{- $end := 0 -}}
  {{- range $_, $loc := .SourceLine.PreciseMatchLocations -}}
    {{- printf "%s" (slice $.SourceLine.Line $end (index $loc 0)) -}}
    <mark>{{printf "%s" (slice $.SourceLine.Line (index $loc 0) (index $loc 1))}}</mark>
    {{- $end = index $loc 1 -}}
  {{- end -}}
  {{- printf "%s" (slice .SourceLine.Line $end) -}}
{{- end -}}
